.backGround{
  background-color: black;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
}

h3{
  color: red;
}

.filterComponent{
  margin-top: 5px;
  height: 98%;
  position: fixed;
  width: 15%;
  border: solid red;
  float: left;
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.filterOptions{
  height:79%;
  width:14.5%;
  position: fixed;
  overflow-y: scroll;
}

.filterOptions::-webkit-scrollbar {
  width: 6px;
}

.filterOptions::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(216, 206, 206, 0.3); 
   border-radius: 15px;
}

.filterOptions::-webkit-scrollbar-thumb {
  background-color: rgb(255, 102, 0);
  border-radius: 15px;
  outline: 1px solid black;
}

.filterButton{
  height:50px;
  width:90%;
  margin-bottom:25px; 
  background-color:orange;
  border:3px solid orange;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 50px;
}

.filterButton:hover{
  background-color: black;
  color: orange;
}

.clickedButton{
  height:50px;
  width:85%;
  margin-bottom:25px; 
  font-size: 15px;
  font-weight: bolder;
  border-radius: 50px;
  background-color: rgb(141, 92, 0);
  border:3px solid rgb(141, 92, 0);
  color: black;
}

.reset{
  height:50px;
  width:90%;
  margin-bottom:15px; 
  background-color:rgb(255, 102, 0);
  border:3px solid rgb(255, 102, 0);
  font-size: 15px;
  font-weight: bolder;
  border-radius: 50px;
}

.reset:hover{
 background-color: black;
 color: rgb(255, 102, 0);
 border: 3px solid rgb(255, 102, 0);
}

.body{
  width: 100%;
  margin-left: 16%;
}

.head{
  margin:5px;
  padding:5px;
  border:solid red;
  color: red;
  border-radius: 100px;
  height: 130px;
}

.heading{
  font-size: 90px;
  font-weight: bold;
  font-style: italic;
  margin-left: 40px;
  margin-top: 5px;
  height:90px;
  width: 260px;
  display: inline-block;
}

.both{
  height:50px;
  width:400px;
  float: right;
  margin-top: 38px;
  border: 2px solid orange;
  margin-right: 50px;
}

.searchIcon{
  height: 50px;
  width: 50px;
  float: left;
}

.searchDiv{
  height: 50px;
  width: 350px;
  float: left;
}

.searchBar{
  padding-left: 5px;
  font-size: 20px;
  height: 48px;
  width:345px;
  border-left: white; 
  border-right: white;
  border-top: orange;
  border-bottom: orange;
  float: left;
  background-color: black;
  color: grey;
}

.songs{
  height: 508px;
  margin: 5px;
  border-radius: 10px;
  position: relative;
  flex: 1;
  overflow-y: scroll;
}

.songs::-webkit-scrollbar {
  width:7px;
}

.songs::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(216, 206, 206, 0.3); 
   border-radius: 15px;
}

.songs::-webkit-scrollbar-thumb {
  background-color: rgb(255, 102, 0);
  border-radius: 15px;
  outline: 1px solid black;
}

.musicCard{
  margin:13px;
  height:350px;
  width: 250px;
  border: 1.5px solid black;
  border-radius: 20px;
  background-color: white;
  display:inline-block;
}

.musicCard:hover{
  box-shadow: 0 4px 8px 0 grey, 0 6px 15px 0 grey;
}

.imag{
  margin-left: 1px;
  height:200px;
  width:248.5px;
  border-radius: 16.5px;
}

.description{
  padding-left: 10px;
}

.imag2{
  height:100%;
  width:100%;
}